*{
    margin: 0;
    font-family: 'Work Sans';
}

/*.............Header Styles start............*/
.header{
    background-image: url(./Images/banner3.png);
    text-align: right;
    padding: 200px 180px 160px 750px;
    margin-bottom: 130px;
}
.header-title{
    font-weight: 700;
    font-size: 65px;
    color: white;
}
.header-des{
    font-size: 16px;
    margin: 25px 0px 30px;
    color: white;
}
.btn-primary{
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    padding: 20px 35px;
}
/*.............failure-history Styles start............*/
.failure-history{
    display: flex;
    margin: 0px 250px 130px 150px;
    align-items: center;
}
.failure-history img{
    width: 540px;
    height: 700px;
}
.history-container{
    margin-left: 70px;
}
.history-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}
.history-description{
    font-size: 16px;
    margin: 25px 0px 16px;
    color: #444343;
}
.failure-item li{
    color: #444343;
    margin-bottom: 8px;
}
/*.............plan styles start............*/
.plan-container{
    margin: 0px 230px 130px;
    color: #151414;
}
.primary-title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.plans{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.plan-box-title{
    font-weight: 700;
    font-size: 30px;
    margin: 25px 0px 15px 0px;
}
.plan-description{
    color: #737272;
    font-weight: 500;
    font-size: 25px;
} 
/*.............immediate Contact Styles start............*/
.immediate-contact{
    margin: 0px 230px 130px;
    padding: 50px 400px 50px 50px;
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(Images/watch.png);
    border-radius: 8px;
}
.immediate-contact h2{
    color: white;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 25px;
}
/*.............hard-work Styles start............*/
.hard-work{
    display: flex;
    margin: 0px 230px 130px;
}
.work{
    width: 900px;
    display: flex;
    align-content: center;
}
.work-title{
    color: #151414;
    margin-bottom: 10px;
    font-size: 30px;
}
.work-icon img{
    width: 50px;
    padding-right: 10px;
}
.work-details{
    border-left: 2px solid #005FAC;
    padding-left: 10px;
}
/*.............Expertise Styles start............*/
.resume-container{
    display: flex;
    color: #737272;
    gap: 30px;
    margin: 0px 230px 130px 230px;
}
.expertise{
    border: 1px solid #e3e1e1;
    width: 400px;
    padding: 20px;
}
.expertise-header{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.expertise-title{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0px;

}
.expertise-subtitle{
    font-size: 16px;
    margin-bottom: 20px;

}
.expertise-description{
    margin-bottom: 20px;
}
.skill-container{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
.skill-rate{
    border: 1px solid #005FAC;
    color: white;
    background-color: #005FAC;
    border-radius: 50%;
    padding: 22px 15px;
    margin-right: 20px;
}
.break-line{
    margin-bottom: 20px;
}
/*.............footer Styles start............*/
.footer{
    background-color: #151414;
    color: white;
    padding: 130px 230px;
    display: flex;
}
.social-title{
    font-weight: 700;
    font-size: 45px;
}
.social-description{
    font-size: 16px;
    margin: 15px 0px 25px;
}
.contact-way{
    margin-bottom: 15px;
}
.social-items{
    margin-top: 30px;
}
.social-items a{
    text-decoration: none;
    margin-right: 18px;
}
.contact{
    margin-left: 320px;
}
.contact h3{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}
.email{
    width: 325px;
    background-color: #151414;
    font-size: 18px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 15px;
}
.submit{
    background-color: #005FAC;
    font-size: 20px;
    padding: 17px;
    border: 1px solid #005FAC;
    border-radius: 5px;
    color: white;
}